@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://uniteus.com/assets/uniteus_frontend/widget-9ee2b3ff822f262a5e9910ca84443c481051cd054a0fe44ec7f8f9e26a189bf5.css);
<style>
html, body {
  font-family: 'Roboto', sans-serif;
}
#outer-panel {
  width: 100%;
  margin-bottom: 200px;
}
#inner-panel {
  width: 960px;
  margin: 0 auto;
}
#gmap { 
  height: 600px; 
  width: 100%; 
}
#legend {
  background: #fff;
  padding: 20px;
  margin: 15px 35px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
#loading {
  margin-top: 250px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  text-shadow: 0px 0px 10px #000000;
  /*left: 430px !important;*/
}
#zoom-out {
  padding: 10px;
  cursor: zoom-out;
  background-color: #FFFFFF;
}
.labels {
  cursor: default;
  text-shadow: 0px 0px 10px #FFFFFF;
  background-color: #FFFFFF;
  font-size: 1.1em;
  padding: 1px 3px;
}
div#tabs {
  /*margin: 20px 20px 90px 20px;*/
  padding: 0;
}
div#tabs div {
  display: block;
  float: left;
  padding: 15px 20px;
  border-bottom: 3px solid #FFFFFF;
}
div#tabs div.active {
  border-bottom: 3px solid #b82200;
  /*margin-top: -3px;*/
}
div#tabs div a {
  text-decoration: none;
}
#entity-info {
  width: 900px;
  padding: 29px;
  border: 1px solid #CCCCCC;
  background: #FFF;
  
}
#display-entity-info {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  vertical-align: top;
  margin-top: 20px;
}
#display-entity-info > div {
  display: inline-block;
  vertical-align: top;
}
#entity-description {
  width: 55%;
  padding-right: 20px;
}
#entity-addl-info {
  max-width: 40%;
}
#entity-addl-info > div {
  margin-bottom: 20px;
  font-size: medium !important;
  line-height: 23.4px;
  color: rgb(85, 85, 85);
}
#entity-avatar {
  width: 150px;
  margin-bottom: 20px;
}
#entity-avatar img {
  width: 100%;
}
#entity-name {
  max-width: 700px;
  display: inline-block;
}
#entity-description, #entity-description > p, #entity-description > span {
  text-align: justify;
  font-size: medium !important;
  font-family: 'Roboto', sans-serif !important;
  color: rgb(85, 85, 85); !important;
  line-height: 1.5 !important;
}
.mp-info-window {
  width: 300px;
  background: transparent;
  position: relative;
}
.mp-info-window-bgdiv {
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.info-window-view-more {
  cursor: pointer;
}
#resource-assistance-form-container {
  z-index: 3;
  position: absolute;
  width: 900px;
  padding: 29px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
#resource-assistance-form {
  padding: 50px;
}
input[type=button], .mbutton {
	background-color:#4884ed;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:12px 30px;
	text-decoration:none;
    border: none;
    outline: none;
}
input[type=button]:hover, .mbutton:hover {
	background-color:#476e9e;
}
input[type=button]:active, .mbutton:active {
	position:relative;
	top:1px;
}
#needassist-top {
  color: #FFFFFF;
  float: right;
  position: relative;
}
#get-assist-top-tooltip {
  width: 200px;
  z-index: 2;
  position: absolute;
  top: 65px;
  background-color: #4884ed;
  border-radius: 5px;
  padding: 10px;
  margin-left: -25px;
  display: none;
  cursor: default;
}
#needassist-top #get-assist-top-tooltip:before {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #4884ed 10px;
  top: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
#needassist-top:hover #get-assist-top-tooltip {
  display: inline-block;
}
#needassist-top:active #get-assist-top-tooltip {
  top: 65px;
}
#needassist-entity {
  float: right;
  margin-right: 20px;
}
.uniteus_assistance_request textarea, .uniteus_assistance_request select, 
.uniteus_assistance_request input, .uniteus_signup input, .uniteus_signup select, 
.uniteus_contact_us input {
		padding: 2px 5px !important;
}
</style>
